*, *:before, *:after {
    box-sizing: inherit;
}

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#navBar {
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  position: fixed;
  width: 100%;
  background-color: : #00bfff;
}


nav ul li {
  display: inline-block;
}
